:root {
    --border-color: hex(#ffff);
}


body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

nav ul {
    background-color: #1a1a1a;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    background-color: #1a1a1a;
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #1a1a1a;
    font-size: 18px;
}

section {
    background-color: #1a1a1a;
    padding: 20px;
    text-align: center;
}

#hero {
    border-top: 1px solid var(--border-color);
    background-color: #1a1a1a;
    padding: 50px;
}

#about,
#services,
#films,
#crew,
#games {
    border-top: 1px solid var(--border-color);
    background-color: #1a1a1a;
    padding: 30px;
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
}

#films img {
    border-top: 1px solid var(--border-color);
    background-color: #1a1a1a;
    margin-top: 20px;
}

footer {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
}
