/* Default light mode styles (You can customize these as needed) */
body {
    background-color: #fff;
    color: #333;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

header {
    background-color: #222;
    color: #fff;
}

nav ul li a {
    color: #fff;
}

/* Add more dark mode styles as needed */
