:root {
    --border-color: hex(#ececec);
}


body {
    background-color: #f6f7f9;
    color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #18181800;
    padding: 0px;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    text-align: right;
    width: 100%;
}

nav ul {
    background-color: #181818;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 99%; /* Extend the navbar across the entire viewport width */
    text-align: right;
}

nav li {
    background-color: #181818;
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #181818;
    font-size: 18px;
    width: 100%; /* Extend the navbar across the entire viewport width */
}

section {
    background-color: #f6f7f9;
    padding: 20px;
    text-align: center;
}

#hero {
    border-top: 1px solid var(--border-color);
    background-color: #f6f7f9;
    padding: 50px;
}

#about,
#services,
#films,
#crew,
#games {
    border-top: 1px solid var(--border-color);
    background-color: #f6f7f9;
    padding: 30px;
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
}

#films img {
    border-top: 1px solid var(--border-color);
    background-color: #f6f7f9;
    margin-top: 20px;
}

footer {
    background-color: #ececec;
    padding: 4px;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 99%;
    border-top: 1px solid var(--border-color);
}
